$categories: (
  ionic: var(--ion-color-primary),
  angular: #ac282b,
  communication: #8e8d93,
  tooling: #fe4c52,
  services: #fd8b2d,
  design: #fed035,
  workshop: #69bb7b,
  food: #3bc7c4,
  documentation: #b16be3,
  navigation: #6600cc
);

@each $track, $value in map-remove($categories) {
  ion-item-sliding[track='#{$track}'] ion-label {
    border-left: 2px solid $value;
    padding-left: 10px;
  }
}

div.swiper-pagination {
   top:60px !important;
   bottom:inherit;
}

.login-logo {
  padding: 30px 0 0 0;
  /*min-height: 150px;*/
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}
ion-spinner  {
        transform: scale(10);
}
.loader {
  margin:auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498E9; /* Blue */
  border-radius: 50%;
  width: 150px;
  height:150px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card-title{
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-bottom:5px;
    line-height: 17px;

}
.card-category{
    font-size: 10px;
    color: cadetblue;
    font-size: 17px;
    line-height: 17px;

}
.card-body{
  -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 1.5rem;
}


.bg-gradient-default {
    background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
    /* padding-top: 12px; */
}
.shadow, .card-profile-image img {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
}
.card-header {
    padding: 1.25rem 1.5rem;
    margin-bottom: 0;
}
.bg-transparent {
    background-color: transparent !important;
}
.card-link {

  text-decoration: underline;
    margin: auto;
    color: #0cd1e8;
}




